# Ignore everything
**

# Allow Rust source code
!src
!crates
!tests
!Cargo.*
!tools/init.sh
!tools/node_config
!tools/node_config/**/*
!tools/libp2p_keys.json
!tools/validator_bls_keys.json
!tools/validator_keys.json
!tools/liveness.sh
!tools/config/nextest.toml
!.git

!LICENSE
