# Ignore everything
**

# Allow Rust source code
!src
!crates
!tests
!Cargo.*
!tools/init.sh
!tools/node_config
!tools/node_config/**/*
!tools/liveness.sh
!tools/config/nextest.toml
!.git

# Allow contract related code
!contracts/contracts/**/*
!contracts/hardhat.config.ts
!contracts/package*.json
!contracts/scripts/**/*
!contracts/tsconfig.json
!contracts/typechain-types/**/*

!LICENSE
