{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-non-null-assertion": "off"
  },
  "env": {
    "es2022": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "artifacts": "readonly",
    "contract": "readonly",
    "web3": "readonly",
    "extendEnvironment": "readonly",
    "expect": "readonly"
  }
}
