[package]
name = "topos-test-sdk"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[lints]
workspace = true

[dependencies]
topos-core = { workspace = true, features = ["uci"] }
topos-p2p = { path = "../topos-p2p/" }
topos-tce = { path = "../topos-tce/", optional = true }
topos-tce-api = { path = "../topos-tce-api/", optional = true }
topos-crypto = { path = "../topos-crypto/" }
topos-tce-storage = { path = "../topos-tce-storage/" }
topos-tce-gatekeeper = { path = "../topos-tce-gatekeeper/", optional = true }
topos-tce-synchronizer = { path = "../topos-tce-synchronizer/", optional = true }
topos-tce-broadcast = { path = "../topos-tce-broadcast/", optional = true }
topos-tce-transport = { path = "../topos-tce-transport/", optional = true }

hex.workspace = true
futures.workspace = true
lazy_static = { version = "1.4.0" }
libp2p.workspace = true
proc_macro_sdk = { path = "./proc_macro_sdk/" }
rand.workspace = true
rstest.workspace = true
tokio.workspace = true
tokio-util.workspace = true
tokio-stream.workspace = true
prost.workspace = true
tonic = { workspace = true, default-features = false, features = [
    "prost",
    "codegen",
    "transport",
] }
tracing.workspace = true

[features]
default = []
tce = [
    "topos-core/api",
    "topos-tce",
    "topos-tce-api",
    "topos-tce-broadcast",
    "topos-tce-gatekeeper",
    "topos-tce-synchronizer",
    "topos-tce-transport",
]

[build-dependencies]
tonic-build = { version = "0.8", default-features = false, features = [
    "prost", "transport"
] }
