name: Check format

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  fmt:
    strategy:
      fail-fast: false
      matrix:
        target:
          - { name: Linux, os: ubuntu-latest, triple: x86_64-unknown-linux-gnu }
        version:
          - stable

    name: ${{ matrix.version }} - Check format
    runs-on: ${{ matrix.target.os }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - uses: docker/build-push-action@v3
        with:
          target: fmt
          build-args: |
            GITHUB_TOKEN=${{ secrets.ROBOT_TOPOSWARE_GH_PACKAGE_TOKEN }}
            TOOLCHAIN_VERSION=${{ matrix.version }}
          cache-from: type=registry, ref=ghcr.io/toposware/${{ github.repository }}:build-cache-${{ github.workflow }}-${{ matrix.version }}
          cache-to: type=registry, ref=ghcr.io/toposware/${{ github.repository }}:build-cache-${{ github.workflow }}-${{ matrix.version }}, mode=max
