name: Checking PR semantic

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  title:
    name: Validate PR title
    runs-on: ubuntu-latest-32-cores
    steps:
      - uses: amannn/action-semantic-pull-request@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  commits:
    name: Validate PR commits
    runs-on: ubuntu-latest-32-cores
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v5
